<html ng-app="addressBook">
    <head>
        <meta charset="utf-8">
        <title>Address Book</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular.min.js"></script>
        <script src="app.js"></script>
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>
    <body ng-app="ngToggle">
    <center>
        <div ng-app="addressBook" ng-controller="AddressViewController" ng-controller="AppCtrl">
            <h1>Address Book App</h1>
            <h2>By Sean</h2>
        <Button ng-click="custom=!custom">Change View</Button>
        <div ng-hide="custom">
            <table border="1" >
        <caption>
        <h3>Contacts</h3>
        </caption>
        <thead>
            <tr>
                <th>Customer Id</th>
                <th>Company Name</th>
                <th>Contact Name</th>
                <th>Contact Title</th>
                <th>Address</th>
                <th>City</th>
                <th>Email</th>
                <th>Postal Code</th>
                <th>Country</th>
                <th>Fax</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="contact in contacts">
            <td>{{contact.CustomerID}}</td>
            <td>{{contact.CompanyName}}</td>
            <td>{{contact.ContactName}}</td>
            <td>{{contact.ContactTitle}}</td>
            <td>{{contact.Address}}</td>
            <td>{{contact.City}}</td>
            <td>{{contact.Email}}</td>
            <td>{{contact.PostalCode}}</td>
            <td>{{contact.Country}}</td>
            <td>{{contact.Fax}}</td>
            <td>{{contact.Phone}}</td>
        </tr>
        </tbody>
        </table>
        
    </div>


<div ng-show="custom">
    <div class="container">
    
        <div ng-repeat="contact in contacts" class="card">
          <h4><b>{{contact.CustomerID + '   ' + contact.CompanyName}}</b></h4>
          <h4><b>{{contact.ContactName  + '   ' + contact.ContactTitle}}</b></h4>
          <p>{{contact.Address  + '   ' +contact.City + " "+contact.Country}}</p>
          <p>{{ contact.PostalCode+ "     "+contact.Email}}</p>
          <p>{{contact.Fax}}</p>
          <p>{{contact.Phone}}</p>
        </div>
    </div>
</div>
</div>


    </center>       
    </body>
</html>

